@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

 /* font-family :'Kumbh Sans', sans-serif; */

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family :'Kumbh Sans', sans-serif; 
    background-color: hsl(240, 73%, 65%);
    width: 100%;
    box-sizing: border-box;
}
.accordian-card{
    max-width: 1440px;
    background-color: white;
    color: black;
    padding: 30px,30px,30px,0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.faq{
     margin: 80px;
     display: inline;
}
.faq h1{
    margin-bottom: 60px;
}
.qa{ 
    padding-left: 0;
}
.q1{
    color: black;
    cursor: pointer;
}
.q1:hover{
    color: orangered;
    
}
.q2{
    color: black;
    cursor: pointer;
}
.q2:hover{
    color: orangered;
}
.q3{
    color: black;
    cursor: pointer;
}
.q3:hover{
    color: orangered;
}
.q4{
    color: black;
    cursor: pointer;
}
.q4:hover{
    color: orangered;
}
.q5{
    color: black;
    cursor: pointer;
}
.q5:hover{
    color: orangered;
}
.ans1{
    font-size: small;
}
.ans2{
    font-size: small;
}
.ans3{
    font-size: small;
}
.ans4{
    font-size: small;
}
.ans5{
    font-size: small;
}
.hidden{
    display: none;
}
.up{
  transform: rotate(180deg);
}